.main-content {	
	height: 10000px;
	background: blue;
	margin-top: 50px;
}

.main-next {
	background: red;
}

.standart-block {
    min-height: 400px;
	font-size: 18px;	
}

.standart-block img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -20px;
}
.summary {
	background: #FFF url(img/111.jpg);
    background-size: cover;
    min-height: 781px;
	font-size: 18px;
}

#training {
	background: #FFF url(img/004.jpg);
  background-size: cover;
  min-height: 781px;
	font-size: 16px;
  color: #FFF;	
}

#review {
  min-height: 781px;
	font-size: 16px;	
}

.heading {
	background: #FFF url(img/0 00.jpg);	
  min-height: 180px;
}

.hello {
	margin-top: 120px;
	margin-left: 60px;
	back ground: #FFF;
  pa dding: 30px;
  text-align: justify;
}

.navbar-default .navbar-nav>.active>a {
	color: #333;
	border-bottom: 4px solid #D34F2E;
	background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav>li>a {
	margin-top: 4px;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.75);
  border-color:  rgba(0, 0, 0, 0);
}

.site-heading>h2 {
	color: #FFF;
}

.adress {
	margin-top: 40px;
}

.adress>li {
	margin-top: 7px;
	font-size: 18px;
	list-style-type: none;
}

.adress>li>span {
	color: #000;
}

.navbar-right>#button-order>a {
  background: #D34F2E; /* Цвет фона */
  color: #FFF; /* Цвет текста */	
}

.navbar-static-top {
	z-index: 10;
}

.close {
	margin: 20px;
	color: #000;
}

.carrousel.icons img {
	border: 5px #DDDDDD solid;
}

.carrousel.icons .frame-focus {
	border: 5px #DDDD00 solid;
}

.carrousel.tape > img {
	display: none;
}

.carrousel.tape > p {
	display: none;
}

.carrousel.tape .frame-focus {
	display: block;
} 

.row h3 {
	text-align: center;
}

input, textarea {
	border-radius: 15px;
	border: 1px #DDDDDD solid;
	padding: 10px;
	margin: 10px;
	width: 100%;
	color: #000;
}

.modal-header .close {
	margin-right: 0px;
}

.modal-header h3 {
	text-align: center;
}

.modal-header {
	border-bottom-width: 0px
}

 .modal-footer {
 	border-top: 0px
 }